Package: com.bxnto.switchcolor
Name: SwitchColors
Depends: mobilesubstrate, preferenceloader, com.spark.libsparkcolourpicker, ws.hbang.common
Version: 1.0.2
Architecture: iphoneos-arm
Description: Customize all elements of the switches! Requires libsparkcolourpicker and Cephie.
Maintainer: Benji <benjiled@gmail.com>
Author: Benji <benjiled@gmail.com>
Section: Tweaks
FileName: debs/switchcolor.deb
